@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab', serif;
}
#for-string{
    display: none;
}
#for-negetive{
    display: none;
}
#for-greater{
    display: none;
}
#for-save{
    display: none;
}